<section class="container contact">
  <h1 class="contact__title">Contato</h1>
  <p class="contact__description">
    Sinta-se à vontade para entrar em contato comigo se estiver afim de começar
    um novo projeto, conversar sobre tecnologia ou surfar.
  </p>
  <p class="contact__info">
    <img
      src="../../assets/images/envelope-solid.svg"
      alt=""
      class="contact__logo"
    />
    <a
      class="contact__link"
      href="mailto:mbatista.sarti@gmail.com"
      target="_blank"
      >mbatista.sarti&#64;gmail.com</a
    >
  </p>
  <p class="contact__info">
    <img
      src="/assets/images/linkedin-brands-solid.svg"
      alt=""
      class="contact__logo"
    />
    <a
      class="contact__link"
      href="https://linkedin.com/in/matheus-amorimb"
      target="_blank"
      >linkedin</a
    >
  </p>
</section>
