.contact {
  margin-top: 6rem;
  padding-bottom: 10rem;
}

.contact__title {
  color: var(--black-color-4);
  text-transform: capitalize;
  font-size: var(--size-8xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
  margin-bottom: 4rem;
}

.contact__description {
  color: var(--gray-color-15);
  font-size: var(--size-4xl);
  text-align: justify;
  margin-bottom: 1.5rem;
  max-width: 70rem;
  margin-bottom: 4rem;
}

.contact__info {
  display: flex;
  align-items: start;
  margin-bottom: 1.5rem;
}

.contact__logo {
  width: 3rem;
  height: 3rem;
}

.contact__link {
  text-decoration: none;
  font-size: var(--size-4xl);
  color: var(--gray-color-15);
  font-weight: 500;
  margin-left: 1.5rem;
}

.contact__link:hover {
  color: var(--blue-color-1);
}

@media (min-width: 1328px) {
  .contact {
    margin-top: 12rem;
    padding-bottom: 20rem;
  }
}
