.hero {
  margin-top: 2rem;
  min-height: calc(100vh - var(--navbar-height) - 12rem);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  gap: 3rem;
}

.hero__img {
  max-width: 35rem;
  object-fit: cover;
  margin: 0 auto;
  // padding-bottom: 3rem;
  border-radius: 5%;
}

.blue {
  color: var(--blue-color-1);
}

.hero__introduction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 3rem;
  padding-left: 1rem;
}

.hero__title {
  max-width: 40rem;
  color: var(--black-color-4);
  text-transform: uppercase;
  font-size: var(--size-8xl);
  letter-spacing: -0.05em;
  line-height: 0.9;
}

.hero__subtitle {
  max-width: 40rem;
  color: var(--black-color-2);
  font-size: var(--size-6xl);
}

.hero__description {
  max-width: 40rem;
  color: var(--black-color-4);
  font-size: var(--size-4xl);
}

.hero__menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  list-style: none;
  padding-right: 1rem;
  position: relative;
}

.hero__menu li {
  position: relative;
  z-index: 1;
}

.hero__menu li::after {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 0;
  width: 0;
  height: 1.5rem;
  background-color: var(--blue-color-1);
  transition: width 0.3s ease-in-out;
  z-index: -1;
}

.hero__menu li:hover::after {
  width: 130%;
}

.hero__menu__link img {
  width: 3rem;
  height: 3rem;
}

// md
@media (min-width: 768px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: calc(100vh - var(--navbar-height) - 2rem);
  }

  .hero__img {
    margin: 0;
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__subtitle {
    font-size: var(--size-6xl);
  }

  .hero__description {
    font-size: var(--size-4xl);
  }

  .hero__menu {
    justify-content: start;
  }
}

// 2xl
@media (min-width: 1536px) {
  .hero__img {
    max-width: 60rem;
  }

  .hero__title {
    font-size: var(--size-9xl);
  }

  .hero__subtitle {
    font-size: var(--size-7xl);
  }

  .hero__description {
    font-size: var(--size-5xl);
  }
}
