<section class="container hero">
  <img
    class="hero__img"
    src="assets/images/perfil-photo-adjusted.JPEG"
    alt="Profile Picture"
  />
  <div class="hero__introduction">
    <h2 class="hero__subtitle">Matheus Batista.</h2>
    <h1 class="hero__title">Full Stack Software Developer.</h1>
    <p class="hero__description">
      Curioso. Aventureiro. Apaixonado por tecnologia e problemas complexos.
    </p>
    <ul class="hero__menu">
      <li>
        <a
          class="hero__menu__link"
          href="https://github.com/matheus-amorimb"
          target="_blank"
          ><img src="../../assets/images/github-brands-solid.svg" alt=""
        /></a>
      </li>
      <li>
        <a
          class="hero__menu__link"
          href="https://linkedin.com/in/matheus-amorimb"
          target="_blank"
          ><img src="../../assets/images/linkedin-brands-solid.svg" alt=""
        /></a>
      </li>
      <li>
        <a class="hero__menu__link" href="mailto:mbatista.sarti@gmail.com"
          ><img src="../../assets/images/envelope-solid.svg" alt=""
        /></a>
      </li>
    </ul>
  </div>
</section>
