<section class="container projects">
  <h1 class="projects__title">Projetos</h1>
  @for (project of projects; track project.id) {
  <div class="project__container">
    <div class="projects__img__container">
      <a class="project__link" href="{{ project.link }}" target="_blank">
        <div class="img__wrapper">
          <img class="projects__img" src="{{ project.img }}" alt="" />
        </div>
      </a>
    </div>
    <div class="projects__info__container">
      <div class="projects__technologies_wrapper">
        @for (tech of project.technologies; track projects) {
        <p class="projects__technologies">{{ tech }}</p>
        }
      </div>
      <a
        class="project__link project__title"
        href="https://github.com/matheus-amorimb/simplified-payment-app"
      >
        {{ project.title }}
      </a>
      <p class="project__description">
        {{ project.description }}
      </p>
    </div>
  </div>
  }
</section>
