@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

:root {
  --gray-color-1: #111111;
  --gray-color-2: #2c2c2c;
  --gray-color-3: #3b3b3b;
  --gray-color-4: #4c4c4c;
  --gray-color-5: #5b5b5b;
  --gray-color-6: #6b6b6b;
  --gray-color-7: #7a7a7a;
  --gray-color-8: #898989;
  --gray-color-9: #9a9a9a;
  --gray-color-10: #aaaaaa;
  --gray-color-11: #b9b9b9;
  --gray-color-12: #c8c8c8;
  --gray-color-13: #d7d7d7;
  --gray-color-14: #f2f2f2;
  --gray-color-15: #ffffff;
  --black-color-1: #252525;
  --black-color-2: #7f8084;
  --black-color-3: #d7d8da;
  --black-color-4: #f3f3f3;
  --blue-color-1: #1c7dec;

  --section-content-boxed-max-width: 1366px;
  --section-content-fluid-max-width: 90%;
  --section-content-mobile-margin: 2rem;
  --section-container-margin-bottom: 20rem;
  --section-content-items-margin: 5rem 0;
  --navbar-height: 10rem;

  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-9xl: 10rem;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  box-sizing: border-box;
}

html,
body {
  height: 100% !important;
  background-color: var(--gray-color-1);
  font-size: 8px;
  font-family: "General Sans", sans-serif;
  scroll-behavior: smooth;
  position: relative;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  // border: 2px solid violet;
  position: relative;
}

.section {
  margin-top: 5rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10000;
  background-color: var(--gray-color-1);
}

// xs
@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

// xs
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

// sm
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

// md
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

// lg
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

// xl
@media (min-width: 1280px) {
  .container {
    max-width: 1320px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

// 2xl
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

// 3xl
@media (min-width: 1800px) {
  .container {
    max-width: 1800px;
  }
}

// // xs
// @media (min-width: 475px) {
// }

// // sm
// @media (min-width: 640px) {
// }

// // md
// @media (min-width: 768px) {
// }

// // lg
// @media (min-width: 1024px) {
// }

// // xl
// @media (min-width: 1280px) {
// }

// // 2xl
// @media (min-width: 1536px) {
// }
