<body>
  <header>
    <h1 class="brand">Matheus Batista</h1>
    <nav class="nav-options">
      <ul>
        <li><a href="">Início</a></li>
        <li><a href="">Sobre</a></li>
        <li><a href="">Projetos</a></li>
      </ul>
    </nav>
  </header>
  <section class="home">
    <div class="personal-photo">
      <img src="../../assets/images/perfil-photo.JPEG" alt="" />
    </div>
    <div class="introduction">
      <h1>Desenvolvedor de Software Full Stack.</h1>
      <ul class="social-media">
        <li>
          <a href="https://github.com/matheus-amorimb" target="_blank"
            ><img src="../../assets/images/github-brands-solid.svg" alt=""
          /></a>
        </li>
        <li>
          <a href="https://linkedin.com/in/matheus-amorimb" target="_blank"
            ><img src="../../assets/images/linkedin-brands-solid.svg" alt=""
          /></a>
        </li>
        <li>
          <a href="mailto:mbatista.sarti@gmail.com"
            ><img src="../../assets/images/envelope-solid.svg" alt=""
          /></a>
        </li>
      </ul>
    </div>
  </section>
</body>
